In [97]:

# -*- coding: utf-8 -*-
#%% Libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
#%% Importing Data
flights_data = pd.read_csv('flights.csv')
flights_data.head(10)
weather_data_pd = pd.read_csv('weather.csv')
weather_data_np = weather_data_pd.to_numpy()

In [13]:
#q_1
#Question 1 How many flights were there from JFK to SLC? Int
len(flights_data.loc[(flights_data['origin']=='JFK') & (flights_data['dest']=='SLC')])

2113

In [19]:
#q_2
#Question 2 How many airlines fly to SLC? Should be int
dest_SLC_mask = flights_data['dest']=='SLC'
carriers = flights_data[dest_SLC_mask]['carrier'].nunique()
print (carriers)

2

In [22]:
#q_3
#Question 4 What proportion of flights to SEA come from the two NYC airports (LGA and JFK)? float
dest_RDU_mask = flights_data['dest']=='RDU'
delay = flights_data[dest_RDU_mask]['arr_delay'].mean()
print(delay)

10.052380952380952

In [33]:
#q_4
#Question 4 What proportion of flights to SEA come from the two NYC airports (LGA and JFK)? float
dest_SEA_mask = flights_data['dest']=='SEA'
sea = flights_data[dest_SEA_mask]
total = len(sea)
JFK_mask = sea['origin']=='JFK'
LGA_mask = sea['origin']=='LGA'
NYC_mask = JFK_mask | LGA_mask
NYCtoSEA = sea[NYC_mask]
ny = len(NYCtoSEA)
print (ny, total)
answer = ny/total
print (answer)

2092 3923
0.5332653581442773

In [79]:
#q_5
#Question 5 Which date has the largest average depature delay? Pd slice with date and float
#please make date a column. Preferred format is 2013/1/1 (y/m/d)
flights_data['date']=flights_data['year'].astype(str)+'/'+flights_data['month'].astype(str)+'/'+flights_data['day'].astype(str)
s = flights_data.groupby('date').dep_delay.mean()
delay_by_date = s.to_frame()
delay_by_date.loc[delay_by_date["dep_delay"].idxmax()]

dep_delay    83.536921
Name: 2013/3/8, dtype: float64

In [81]:
#q_6
#Question 6 Which date has the largest average arrival delay? pd slice with date and float
flights_data['date']=flights_data['year'].astype(str)+'/'+flights_data['month'].astype(str)+'/'+flights_data['day'].astype(str)
flights_data.head()
s = flights_data.groupby('date').arr_delay.mean()
delay_by_date = s.to_frame()
delay_by_date.loc[delay_by_date["arr_delay"].idxmax()]

arr_delay    85.862155
Name: 2013/3/8, dtype: float64

In [95]:
#q_7
#Question 7 Which flight departing LGA or JFK in 2013 flew the fastest? pd slice with tailnumber and speed
#speed = distance/airtime

flights_data['speed'] = flights_data['distance']/flights_data['air_time']
flights_data.head()
mask2013 = flights_data['year']==2013
flight2013 = flights_data[mask2013]
LGA_mask = flight2013['origin']=='LGA'
JFK_mask = flight2013['origin']=='JFK'
origin_mask = JFK_mask | LGA_mask
finaldf = flight2013[origin_mask].iloc[:, [9,17]]
finaldf.loc[finaldf["speed"].idxmax()]

tailnum       N666DN
speed      11.723077
Name: 216447, dtype: object

In [101]:
#q_8
#Question 8 Replace all nans in the weather pd dataframe with 0s. Pd with no nans
weather_data_pd.fillna(0)

,Unnamed: 0,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib
0,1,EWR,2013,1.0,1.0,0.0,37.04,21.92,53.97,230.0,10.35702,11.918651,0.0,1013.9,10.0
1,2,EWR,2013,1.0,1.0,1.0,37.04,21.92,53.97,230.0,13.80936,15.891535,0.0,1013.0,10.0
2,3,EWR,2013,1.0,1.0,2.0,37.94,21.92,52.09,230.0,12.65858,14.567241,0.0,1012.6,10.0
3,4,EWR,2013,1.0,1.0,3.0,37.94,23.00,54.51,230.0,13.80936,15.891535,0.0,1012.7,10.0
4,5,EWR,2013,1.0,1.0,4.0,37.94,24.08,57.04,240.0,14.96014,17.215830,0.0,1012.8,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8714,8715,JFK,2013,9.0,2.0,20.0,75.20,73.40,94.14,200.0,4.60312,5.297178,0.0,0.0,4.0
8715,8716,JFK,2013,10.0,23.0,10.0,48.92,39.02,68.51,60.0,4.60312,5.297178,0.0,1008.1,10.0
8716,8717,JFK,2013,10.0,23.0,11.0,48.92,39.02,68.51,40.0,4.60312,5.297178,0.0,1008.5,10.0
8717,8718,JFK,2013,12.0,17.0,5.0,26.96,10.94,50.34,40.0,4.60312,5.297178,0.0,1023.9,10.0
8718,8719,LGA,2013,8.0,22.0,22.0,75.92,66.92,73.68,210.0,8.05546,9.270062,0.0,1011.9,10.0

In [107]:
#q_9
#Question 9 How many observations were made in Feburary? Int
month = weather_data_np[:, 3] 
print (np.count_nonzero(month == 2.0))

671

In [123]:
#q_10
#Question 10 What was the mean for humidity in February? Float
month_hum = weather_data_np[:,(3,8)]
mask = (month_hum[:, 0] == 2.0)
feb = month_hum[mask, :]
mean_feb_hum = np.mean(feb[:, 1])
print (mean_feb_hum)

62.918152011922515

In [126]:
#Question 11 What was the std for humidity in February? Float
# q_11
month_hum = weather_data_np[:,(3,8)]
mask = (month_hum[:, 0] == 2.0)
feb = month_hum[mask, :]
std = np.std(feb[:,1])
print (std)

20.33690087674334