# Lists

- Lists are ordered sequences that can hold a variety of object types. 
- Lists use squared brackets and commas seperate objects in the list. eg: [1,2,3,4,5]
- Lists support indexing and slicing, they can be nested.

In [20]:
my_list = ['String', 10, 20.4] #list can hold strings, integers, floats

- We can carry out indexing on lists

In [21]:
my_list[0] #select the first element

'String'

In [22]:
my_list[1:] #selecting all the elements after fist one

[10, 20.4]

- We can also replace the elements in the list by indexing

In [23]:
my_list[2] = "t" #replace 2nd element with a 't'
my_list

['String', 10, 't']

- We can insert new elements to a specific location unlike tuples

In [24]:
my_list.insert(2, "g") #insert 'g' in the second position
my_list

['String', 10, 'g', 't']

- We can also use append to add elements to the list

In [26]:
my_list.append('g')
my_list

['String', 10, 't', 'g']

- Remove elements from the list

In [27]:
my_list.remove('g') #remove 'g' from the list
my_list

['String', 10, 't']

- We can add two lists using extend() method

In [29]:
nums = [1,2,3,4]
my_list.extend(nums)
my_list

['String', 10, 't', 1, 2, 3, 4, 1, 2, 3, 4]

> Fascinating right? Let see what else can we do.

- We can use sort() method to arrange items in the list in ascending order

In [30]:
numbers = [7, 2, 5, 1, 9, 3] #creating a list of random numbers

print("Original list:", numbers)

numbers.sort() # Sorting the list in ascending order using the sort() method

print("Sorted list in ascending order:", numbers)

Original list: [7, 2, 5, 1, 9, 3]
Sorted list in ascending order: [1, 2, 3, 5, 7, 9]

- We can use pop() to remove elements from any index of the list

In [31]:
numbers.pop(2) #pop the element from 2nd position
numbers

[1, 2, 5, 7, 9]

- We can also use reverse() function to reverse the list

In [34]:
numbers.reverse()
numbers

[9, 7, 5, 2, 1]

# Dictionaries

- Dictionaries are unordered mapping for storing objects. They have key-value pair that allows user to quickly grab objects without needing to know an index location. 
- It uses curly braces and colons to signigy the keys and their associated values. 
    {'key1' : 'value1', 'key2' : 'value2'}

- Key difference between dictionaries and lists: 
- Dictionaries: Objects retrived by key name. They can be unordered and cannot be sorted. 
- Lists: Objects retrived by location. They can be ordered sequence and can be indexed or sliced.

In [35]:
my_dict = {'key1':'value1', 'key2':'value2'} #creating a dictionary
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [36]:
my_dict['key1'] #let's get the value associated with key1

'value1'

In [53]:
# Creating a dictionary
student_scores = {"Alice": 85, "Bob": 92, "Charlie": 78, "David": 65, "Emily": 99}
student_scores

{'Alice': 85, 'Bob': 92, 'Charlie': 78, 'David': 65, 'Emily': 99}

- We can also add an item to the dictionary

In [54]:
student_scores["Sam"] = '98' #adding 'Sam' and his score to the dictionary
student_scores

{'Alice': 85, 'Bob': 92, 'Charlie': 78, 'David': 65, 'Emily': 99, 'Sam': '98'}

In [55]:
print(student_scores.keys()) #we can get the keys, values and items of the entire dictionaries
print(student_scores.values())
print(student_scores.items())

dict_keys(['Alice', 'Bob', 'Charlie', 'David', 'Emily', 'Sam'])
dict_values([85, 92, 78, 65, 99, '98'])
dict_items([('Alice', 85), ('Bob', 92), ('Charlie', 78), ('David', 65), ('Emily', 99), ('Sam', '98')])

In [56]:
student_scores.pop('Alice') #remove an element from the dictionary

85

In [57]:
student_scores

{'Bob': 92, 'Charlie': 78, 'David': 65, 'Emily': 99, 'Sam': '98'}

- Nested dictionaries are dictionaries that have other dictionaries in them as values

In [58]:
nest = {'k1':123, 'k2':[0,1,2], 'k3':{'insideKey':100}} #creating a nested dictionary
nest

{'k1': 123, 'k2': [0, 1, 2], 'k3': {'insideKey': 100}}

In [59]:
nest['k3'] #accessing key3 which has a dictionary inside it

{'insideKey': 100}

In [60]:
nest['k3']['insideKey'] #to access the value, we have to use key from the second dictionary

100