In [1]:
import numpy as np
import pandas as pd

In [2]:
print(np.__version__)

1.26.4

In [3]:
print(pd.__version__)

2.2.2

In [57]:
#creating the series
p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])

In [64]:
# question 1
difference = p-q
square = difference**2
sum = square.sum()
distance = np.sqrt(sum)
print (distance)

18.16590212458495

In [8]:
#creating the table for question 2
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

In [9]:
#checking to see what it looks like
print (df)

    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19

In [15]:
# question 2
df = df[['c', 'b', 'a', 'd', 'e']]
print (df)

    c   b   a   d   e
0   2   1   0   3   4
1   7   6   5   8   9
2  12  11  10  13  14
3  17  16  15  18  19

In [24]:
#creating dataframe for question 3
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

In [27]:
#question 3
def colswitch (dataframe, col1, col2):      #input dataframe, name of first column to switch, name of second column to switch
    column_list = list(dataframe.columns)   #make a list of column names
    col1_index = column_list.index(col1)    #get the indecies for the column names to switch
    col2_index = column_list.index(col2)
    column_list[col1_index] = col2          #switch order of column names in the list
    column_list[col2_index] = col1
    dataframe.columns = column_list         #reorder the columns in the dataframe
    return dataframe                        #return the modified dataframe

colswitch (df, 'a', 'c')

    c   b   a   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19

In [28]:
#creating dataframe for question 4
df = pd.DataFrame(np.random.random(4)**10, columns=['random'])
print (df)

         random
0  1.647511e-01
1  1.579414e-02
2  4.181974e-07
3  6.820156e-04

In [35]:
#question 4
df.round(4)

   random
0  0.1648
1  0.0158
2  0.0000
3  0.0007

In [115]:
#creating dataframe for question 5
df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1),
columns=list('pqrs'), index=list('abcdefghij'))
print (df)

    p   q   r   s
a  55  13  43  86
b  86  50  59  30
c  90  25  60   5
d  56  67  14  14
e  28  53   1   8
f   9  26  97  29
g  60  97  88  73
h  97  96  87  10
i  65  93  29  60
j   3  91  33  67

In [116]:
#Question 5
#defining a fuction to calculate the euclidean distance between two rows
def euclid (x,y):
    difference = x-y
    square = difference**2
    sum = square.sum()
    return np.sqrt(sum)


nearest_row_index = []
dist = []
for row in list(range(0,10)):       #for each of the rows
    dist_btwn_rows = []            # a list to store all the row2 indexes and their distances from row
    for row2 in list(range(0,10)): #compute the distance between row and each row2
        index_distance = []        # a list to store the index of the row2 and its distance from row
        if row2 == row:            #dont compare the row to itself
            continue
        index_distance.append(row2) #add the index to the list
        index_distance.append(euclid (df.iloc[row], df.iloc[row2])) 
        dist_btwn_rows.append(index_distance) 
        df_index_dist = pd.DataFrame(dist_btwn_rows, columns = ['rowindex', 'distance']) #make a dataframe for row, that contains the distance between it, and each of the other rows, as well as the other rows indicies
        
    min_dist = df_index_dist['distance'].min() #find the minimum distance for row
    rownum = df_index_dist.loc[df_index_dist['distance'] == min_dist, 'rowindex'].values[0] #find the index for the row with the minimum value
    nearest_row_index.append(rownum) #save the values for the minimum distance, and the row index row into a list
    dist.append(min_dist)
names = list(df.index)
nearest_row = []
for i in nearest_row_index:      #convert indicies to the names of the rows in df
    nearest_row.append(names[i])

df['nearest_row'] = nearest_row   #append the l
df['dist'] = dist

print (df)

    p   q   r   s nearest_row       dist
a  55  13  43  86           b  75.643903
b  86  50  59  30           c  35.594943
c  90  25  60   5           b  35.594943
d  56  67  14  14           e  34.423829
e  28  53   1   8           d  34.423829
f   9  26  97  29           b  89.162773
g  60  97  88  73           i  60.753601
h  97  96  87  10           b  58.489315
i  65  93  29  60           d  55.659680
j   3  91  33  67           i  62.553977

In [120]:
#Question 6
#creating the dataframe
data = {'A': [45, 37, 0, 42, 50],
'B': [38, 31, 1, 26, 90],
'C': [10, 15, -10, 17, 100],
'D': [60, 99, 15, 23, 56],
'E': [76, 98, -0.03, 78, 90]
       }
df6 = pd.DataFrame(data)
print (df6.corr())

          A         B         C         D         E
A  1.000000  0.756038  0.624390  0.493811  0.928600
B  0.756038  1.000000  0.966733  0.363559  0.649558
C  0.624390  0.966733  1.000000  0.218860  0.528068
D  0.493811  0.363559  0.218860  1.000000  0.720177
E  0.928600  0.649558  0.528068  0.720177  1.000000