# Set
- They are unique, unordered collection of values that share a property. 
- There can only be one representative of the same object.

In [1]:
my_set = set() #creating a set with variable named my_set
my_set

set()

In [3]:
my_set.add(1) #adding an element in the set
my_set

{1}

In [4]:
my_set.add(2) #adding second element to the set
my_set

{1, 2}

- Sets contain unique elements, which means that we cannot add duplicates

In [13]:
my_set.add(2) #When I try to add the same element again, it won't let me add it 
my_set

{1, 2}

- If you have duplicates in a list, we can use set to get unique values in the list

In [6]:
mylist = [1,1,1,1,1,2,2,2,3,3,3] #list can have duplicates
mylist

[1, 1, 1, 1, 1, 2, 2, 2, 3, 3, 3]

In [7]:
set(mylist) #once we convert list to set, we get only unique elements in the list

{1, 2, 3}

- We can use different functions on set, such as union (get's all the element in both the list), intersection (common elements in the lists)

In [15]:
new_set = {1,2,3,4} #creating a new set
new_set

{1, 2, 3, 4}

In [9]:
union = my_set.union(new_set) #getting all the elements in both sets
union

{1, 2, 3, 4}

In [17]:
inter = my_set.intersection(new_set) #getting the common elements in both sets
inter

{1, 2}