In [6]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\mayak\anaconda3\lib\site-packages (1.26.4)

In [4]:
import numpy as np

In [7]:
#1 printing the numpy version number
print(np.__version__)

1.26.4

In [11]:
#2 creating an aray and printing it with the desired output
array = np.array([0,1,2,3,4,5,6,7,8,9])
print (f'array {array}')

array [0 1 2 3 4 5 6 7 8 9]

In [12]:
import pandas as pd

In [22]:
#3 importing the data set and checking to make sure it looks good
url =  'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris = pd.read_csv(url, header = None)
print (iris.head())

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [27]:
#renaming the columns because I was getting confused
iris.rename(columns={0: 'col0', 1: 'col1',2:'col2',3:'col3',4:'col4'}, inplace=True)

In [28]:
#checking to make sure it all looks good
print (iris.head())

   col0  col1  col2  col3         col4
0   5.1   3.5   1.4   0.2  Iris-setosa
1   4.9   3.0   1.4   0.2  Iris-setosa
2   4.7   3.2   1.3   0.2  Iris-setosa
3   4.6   3.1   1.5   0.2  Iris-setosa
4   5.0   3.6   1.4   0.2  Iris-setosa

In [29]:
#4 searching for the first row with a value in col3 that is greater than 1
iris[iris.col3 > 1].index[0]

50

In [38]:
#5 creating array a, and printing it to see what it looks like
np.random.seed(100) 
a = np.random.uniform(1,50, 20)
print (a)

[27.62684215 14.64009987 21.80136195 42.39403048  1.23122395  6.95688692
 33.86670515 41.466785    7.69862289 29.17957314 44.67477576 11.25090398
 10.08108276  6.31046763 11.76517714 48.95256545 40.77247431  9.42510962
 40.99501269 14.42961361]

In [40]:
#replacing values in array a greater than 30 with 30 and values less than 10 with 10
a[a>30]= 30
a[a<10]= 10
print (a)

[27.62684215 14.64009987 21.80136195 30.         10.         10.
 30.         30.         10.         29.17957314 30.         11.25090398
 10.08108276 10.         11.76517714 30.         30.         10.
 30.         14.42961361]